# External dependencies
external/

# Datasets directory
experiments/datasets/


datasets/

# Outputs directory
outputs/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Editor files
*.swp
*.swo
*~

# Jupyter Notebook checkpoints
.ipynb_checkpoints/